.game h1{
    font-size: 31px;
}

.font {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

h3 {
    /*teste*/
}

.points span{
    font-weight: bold;
    color: yellow;
}

.tip span{
    color: yellow;
}

.wordContainer {
    margin: 2em;
    padding: 2em;
    border: 20px solid yellow;
    display: flex;
}

.letter, 
.blackSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid black;
    height: 10vh;
    width: 10vh;
    text-transform: uppercase;
    background-color: white;
    color:black;
    font-weight: bold;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    font-family: 'Press Start 2P', cursive;
    text-transform: capitalize;
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.information {
    font-size: 10px;
    color: rgb(255, 186, 154)
}

@media only screen and (max-device-width: 900px) {
    body { 
        width: 100%; 
        height: 100%;
    } 

    .tip {
        margin-bottom: 30px;
    }
    .guesses{
        margin-bottom: 50px;
    }

    .wordContainer {
        margin: auto;
        margin-bottom: 8vh;
        padding: auto;
        border: 7px solid yellow;
        display: flex;
    }

    .letter, 
.blackSquare {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 30px;
    line-height: 2.5;
    border: 1px solid black;
    height: 70px;
    width: 100%;
    text-transform: uppercase;
    background-color: white;
    color:black;
    font-weight: bold;
}

    .wrongLettersContainer {
        margin-top: 7vh;
    }

    .tip {
        font-size: 18px;
    }



    }