html, body {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    /*font-family: Arial, Helvetica, sans-serif;*/
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(83,42,42,1) 26%, rgba(71,26,26,1) 54%, rgba(25,23,23,1) 100%);
    color: white;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 0 45px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(325deg, rgba(249,254,254,1) 0%, rgba(209,208,42,1) 88%);
    transition: 0.4s;
}

button:hover {
    opacity: 0.6;
}


::selection {
    color:black;
    background-color: yellow;
}